a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%
}
body {
    width: 100%;
    height: 100vh;
    background: url(../images/stars/star-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 0 0 0 1000px rgba(115, 31, 137,.8);
}
.header {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif; 
    font-size: 50px;
}

.header p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px;
}