a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}

body {
    /*background-image: url(../images/background.jpg); */
    color: #5e5e5e;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-title {
    font-size: 36px;
    color: black;
    text-align: center;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 70px;
    margin-top: 90px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 6%;
    left: 47%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.port-image
{
    width: 100%;
}

div img {
    object-position: center center;
}

.gallery_product
{
    margin-bottom: 30px;
    padding: 0px 10px !important;
}

html, body {
    margin: 0;
    padding: 0;
}
.background {
    position: absolute;
    background-size: cover;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
}