a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}

/* -- Smartphones (portrait and landscape) -- */
@media only screen and (max-width: 767px) {
    body {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    header {
        padding-top: 100px;
        background-image: url('../images/panorama.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    header p {
        margin: 0px;
        font-size: 20px;
        color: white;
    }

    header h1 {
        color: white;
        font-size: 50px;
    }

    .topAbout {
        text-align: center;
    }

    .aboutMe {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 70px;
    }

    .aboutMe:after {
        content: '';
        display: block;
        clear: both;
    }

    .aboutMe h2 {
        color: #333;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 50px;
    }

    .aboutMe h2:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        margin-left: -50px;
        left: 50%;
        bottom: 0px;
        background-color: gray;
    }

    .aboutMe .leftColumn,
    .aboutMe .description {
        /* float: left; */
    }

    .aboutMe .leftColumn {
        padding-left: 5%;
        /* padding-right: 5%; */
        width: 100%;
        /* position: fixed; */
        /* top: 199px; */
        margin-right: 0%;
    }

    .aboutMe .description {
        padding: 0% 3%;
    }

    #name {
        margin-top: 0px;
    }

    .aboutMe .leftColumn img {
        max-width: 50%;
        padding-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    body {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    header {
        padding-top: 100px;
        background-image: url('../images/panorama.jpg');
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    header p {
        margin: 0px;
        font-size: 20px;
        color: white;
    }

    header h1 {
        color: white;
        font-size: 50px;
    }

    .topAbout {
        text-align: center;
    }

    .aboutMe {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 70px;
    }

    .aboutMe:after {
        content: '';
        display: block;
        clear: both;
    }

    .aboutMe h2 {
        color: #333;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 50px;
    }

    .aboutMe h2:after {
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        margin-left: -50px;
        left: 50%;
        bottom: 0px;
        background-color: gray;
    }

    .aboutMe .leftColumn,
    .aboutMe .description {
        width: 50%;
        float: left;
    }

    .aboutMe .leftColumn {
        padding-left: 5%;
        padding-right: 5%;
    }

    .aboutMe .description {
        padding: 0% 3%;
    }

    #name {
        margin-top: 0px;
    }

    .aboutMe .leftColumn img {
        max-width: 100%;
    }
}

.gear:link {
    color: black !important;
    text-decoration: none;
}
.gear:visited {
    color: black!important;
}
.gear:hover {
    color: dimgray !important;
    text-decoration: none;
}
.gear:active {
    color: black !important;
    text-decoration: none;
}
