body {
    margin: 0px;
    font-family: 'Comfortaa';
}

* {
    box-sizing: border-box;
}

header {
    padding-top: 100px;
    background-image: url('../images/panorama.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header p {
    margin: 0px;
    font-size: 20px;
    color: white;
}

header h1 {
    color: white;
    font-size: 50px;
}

.topAbout {
    text-align: center;
}

.aboutMe {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.aboutMe:after {
    content: '';
    display: block;
    clear: both;
}

.aboutMe h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}

.aboutMe h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: gray;
}

.aboutMe .leftColumn,
.aboutMe .rightColumn {
    width: 50%;
    float: left;
}

.aboutMe .leftColumn {
    padding-left: 5%;
    padding-right: 5%;
}

.aboutMe .leftColumn img {
    max-width: 100%;
}
