a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}

#navbar {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 9;
    background-color: rgba(255,255,255,.7);
}

#mainMenu {
    margin-top: 11px;
}

#navbar .mainMenuItem {
    float: left;
    padding-right: 17px;
    font-size: 20px;
    transition-duration: 0.5s;
}

.mainMenuItem a {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.mainMenuItem:hover a {
    color: gray;
    transition-duration: 0.3s;
}

.subMenu {
    display: none;
    list-style: none;
    background-color: rgb(48,48,48);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 22;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    width: 100px;
    margin-left: -6px;

    top: 100%;
}
.subMenuItem a {
    font-family: 'Open Sans', sans-serif;
    color: gray !important;
}
#Galleries:hover .subMenu {
    display: block;
}

.subMenuItem a:hover {
    color: white !important;
    transition-duration: 0.3s !important;
}

.subMenu:hover {
    display: block;
}

.fp-slidesNav {
    position: absolute;
    z-index: 4;
    opacity: 1;
    color: red !important;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 45% !important;
    right: 0;
    margin: 0 auto !important;
}

.fp-slidesNav.bottom {
    bottom: 20px; /* Height */
}

#fp-nav ul li a span, /* This line is for Ver Nav */ {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #fff; /* Change Color of Both Nav Dots */
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li a span {
    background-color: transparent;
	box-shadow: inset 0 0 0 2px white;
	-webkit-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
}

#fp-nav ul li:hover a span,
#fp-nav ul li:focus a span {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6)
}

#fp-nav ul li.current a span {
    box-shadow: inset 0 0 0 8px white;
}

div img {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.fp-tableCell {
    display: contents!important; /*User Overide for gif image to take up whole page*/
}

.bottomRight{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    display: block;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    z-index: 999;
    color: white;
    bottom: 7%;
    left: 5%;
    font-size: 20px;
    padding: 5px;
    padding-right: 3px !important;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 3px;
}

.fixed {
    position: fixed !important;
    -webkit-transform: translateZ(0) !important;
}
