.menu {
    position: fixed;
    width: 100%;
    background-color: rgba(223,223,223,0.3);
    top: 0;
    margin: 0;
    z-index: 999;
    padding: 0px;
    list-style: none;
    float: right;
    transition-duration: 0.5;
}

.MainMenuItem {
    float: right;

    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px 20px;
    position: relative;
    transition-duration: 0.5;
}
li {
    float: right;
    font-size: 20px;
}

#Galleries {
    margin-top: 10px;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-top: -5px;
    top: 47px;
    right: 145px;
    position: fixed;
    
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#Galleries:hover i {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-top: -5px;
}

#Galleries:hover .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

#Galleries:hover, .dropdown:hover .dropbtn {
    color: black;
    background-color: rgba(14,255,232,0.3);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(223,223,223,0.3);
    min-width: 160px;
    
    /*box-shadow: 0px 8px 16px 0px rgba(14,255,232,0.3); */
    z-index: 999;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(14,255,232,0.3)}

.dropdown:hover .dropdown-content {
    color: black;
    display: block;
}

/* These bottom two are for Vertical Navigation Dots */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 12px;
    height: 12px;
    margin: -4px 0 0 -4px;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: white;
    box-sizing: border-box;
    border: 1px solid white;
}
/* This is for Slide Navigation Arrows */
div.fp-controlArrow.fp-next {
    /*background: red; This changes background rectangle to color*/
    /*background-color: green;This changes background rectangle to color*/
    /*color: green; Cant figure out what this does*/
    /*border-color: orange; This changes the full rectangle to color*/
    /*outline-color: green;*/
    border-bottom-color: rgba(0, 0, 0, 0); /* This changes the color for the top right blank corner*/
    border-bottom-style: solid;
    border-bottom-width: 38.5px;
    border-left-color: rgba(223,223,223,0.3); /* THIS CHANGES THE COLOR */
    border-left-style: solid;
    border-left-width: 34px;
    border-right-color: rgb(150, 15, 15);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0); /* This changes the color for the bottom right blank corner*/
    border-top-style: solid;
    

}

div.fp-controlArrow.fp-prev {
    border-left-color: rgba(14,255,232,0.3); /* THIS CHANGES THE COLOR */
    border-right-color: rgba(223,223,223,0.3);
}


div img {
  width: 100%;
  height: auto;
}
