a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}

body {
    /* background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #ffffd3 !important;
}

 #navbar {
    background-color: #ffffd3 !important;
    border-bottom: solid;
    border-color: black;
    border-width: 1px;
}

.gallery-title {
    font-size: 36px;
    /* color: white; */
    text-align: center;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 70px;
    margin-top: 90px;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.parentDescription {
    padding: 0px;
}

.description {
    /* width: 66%;
    padding-left: 16.5%;
    padding-right: 16.5%; */
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 10%;
    left: 45%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.gallery_product
{
    margin-bottom: 20px;
    padding: 0px 10px !important;

}