#navbar {
  width: 100%;
  height: 50px;
  top: 0px;
  position: absolute;
  z-index: 999;
  background-color:#333;
  opacity: 50%;
  overflow: hidden;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div img {
  width: 100%;
  height: auto;
}
