.NavBar {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: fixed;
	border-color: rgba(6,6,6,0.4);
}

.MenuItems {
    float: left;
    width: 200px;
    height: 40px;
    background-color: rgba(6,6,6,0.4);
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

#MainMenuItem a {
    text-decoration: none;
    color: white;
    display: block;
}

#MainMenuItem a:hover { 
    background-color: green;
}

.SubMenuItem {
    display: none;
}

.MenuItem:hover .SubMenuItem {
    display: block;
}

div img {
  width: 100%;
  height: auto;
}
